# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2ltcGxlLWNyYW5lLTk3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_bDj3LjgRcpdmrErND36VLzfBSRuTPlApHeq3UugNA5
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# Supabase Database
NEXT_PUBLIC_SUPABASE_URL=https://jplobllclyzvdjqdyyoe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwbG9ibGxjbHl6dmRqcWR5eW9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1Njg4NzQsImV4cCI6MjA3MjE0NDg3NH0.nQgg8-R_mQxbT1r2koGYELnZB1mxYrVtXMEKd8b2RPc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwbG9ibGxjbHl6dmRqcWR5eW9lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjU2ODg3NCwiZXhwIjoyMDcyMTQ0ODc0fQ.7Lh75N9c_D_a65ERS-ikZjtm8r3DZ38EmTV3z9SmUSI

# Redis Cache
REDIS_HOST=redis-18956.c321.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=18956
REDIS_PASSWORD=q1gkyEab24sKVlPXspMsBJ9g5x7eriF5

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=ThaparSkills
